body {
  // padding: 20px;
  
  #app {
    // border: 3px solid #e3e3e3;
    // border-radius: 2px;
    // padding: 10px;

    .card {
      width: 200px;
      // height: 300px;
      // overflow: auto;
    }

    #circle-avatar {
      display: grid;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ffbd30;
      place-items: center;

      span {
        font-size: 48px;
        font-weight: bold;
      }
    }
    .text-end{
      .list-group-item ,.btn{
        position: relative;
        left: 12px;
        width: 89.5%;
        height: 40px;
        border: none;
        border-bottom: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      .but{
        position: relative;
        left: 12px;
        width: 130%;
        height: 40px;
        border: none;
        background-color: #8d99af;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        line-height:10px;
      }
    }
    
  }
}
