.task ol{
    font-size: 1em;
    color: #2d2c2c;
    margin-bottom:2em;
}

.task li{
    background-color: white;
    padding: 0.25em; 
    font: 1em sans-serif;
}
/* .task {
background-color: white;
} */

.task h1{
    color:darkcyan;
    text-align: center;
}


#form{
    text-align: center;
    align-items: center;
    align-self: center;
}
/* .task select{
    padding: .7em 2em;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    align-self: center;
} */

.task input[type=text]{
    align-items: center;
    text-align: center;
    align-self: center;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 

.title{
    align-self: center;
}

.task button{
    margin-top: 1.5cm;
    width: 20%;
    align-self: center;
    
}


.task p{
    text-align: center;
    margin-bottom: 0cm;
}

.task select{
    display:block;
    text-align: center;
    text-align-last: center;
    align-self: center;
    padding: .7em 2em;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 0.5cm;
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    
}

/* .start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #a3a39d;
}

#form .task{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#form .userid{
    padding: .7em 2em;
    width: 60%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    align-self: center;
} */

